<div class="footer row justify-content-center">
    <div class="footer__Item col-md-2">
        <h4>
            <b>
                註冊
            </b>
        </h4>
        <br>
        <p>
            在娛樂城開戶，享受所有在線娛樂優惠以及最頂級的遊戲體驗，超乎您的想​​像。娛樂城一直持續為HOYA娛樂城的忠實客戶提供與眾不同的存款優惠及其他多種優惠活動。
        </p>
    </div>
    <div class="footer__Item col-md-2">
        <h4>
            <b>
                合營計劃
            </b>
        </h4>
        <br>
        <p>
            成為娛樂城的伙伴，帶領更多玩家加入娛樂城，提升您的佣金等級。
        </p>
    </div>
    <div class="footer__Item col-md-2">
        <h4>
            <b>
                關於娛樂城
            </b>
        </h4>
        <br>
        <p>
            我們採用了目前最好的加密技術和防火牆系統保護你的安全、私隱，並保證你享受公平的遊戲。由於採用了企業級別的加密科技(1024位RSA金鑰交換和 448位blowfish)，可以為你的資料提供比一般的商業級別的SSL更高的保護。這一科技目前被世界上主要的金融機構所採用。更多...
        </p>
    </div>
    <div class="footer__Item col-md-2">
        <h4>
            <b>
                其他
            </b>
        </h4>
        <br>
        <p>
            > 服務條款
            <br>
            <br> > 隱私政策
            <br>
            <br> > 責任博彩
            <br>
            <br> > 免責聲明
            <br>
            <br> > LINE
            <br>
        </p>
    </div>
</div>