<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="topBar">
        <div class="topBar__top">
          <div>ICON</div>
          <div>
            <button>立即註冊</button>
            <input type="text">
            <input type="text">
            <button>登入</button>
          </div>
        </div>
        <div class="topBar__under row justify-content-end">
          <span>Name:</span>
          <span>Money:</span>
        </div>
      </div>
      <div class="topBar__tab">
        <span>首頁大廳</span>
        <span>|</span>
        <span>遊戲項目</span>
        <span>|</span>
        <span>合作計畫</span>
        <span>|</span>
        <span>聲明條文</span>
        <span>|</span>
        <span>關於我們</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
