<div class="statementRow row justify-content-center">
    <div class="col-md-8">
        <h2>服務條款</h2>
        <li>
            您瞭解您註冊成為會員後，即可使用本公司所提供之各項服務(以下稱本服務)。當會員使用本服務時，即表示除了同意遵守本服務條款外，還同意接受本公司對會員規範(包括各項遊戲規則、球賽投注規則、公告及注意事項等)及相關法令規定之拘束，本公司所有產品與客戶服務、軟件系統、網絡架構等相關業務事宜，請使用本服務之會員請遵守使用者當地法令之許可，如有違反之情事恕非本服務之負責範圍。
        </li>
        <li>
            本公司旨在創造一個『安全可靠』、『公平公正』、『專業營運』的優質娛樂服務平台，強調的讓會員不受時空的限制，24小時隨時上線就可以參與一個公平公正的遊戲，亦可以享受到與世界各地玩家切磋的樂趣，我們秉持以客為尊的態度，不斷開發創新及了解客戶需求是本公司引以為傲的經營理念，翼望能創造出嶄新的娛樂價值以及達到多方普及的目的，成為具有領導指標性的娛樂網站。
        </li>
        <li>
            基於本公司所提供之各項服務，您同意於註冊時依註冊申請程序所提示之項目，登錄您本人正確、真實及完整之個人資料；當您的個人資料有異動時，請立即更新，以維持您個人資料之正確、真實及完整。如因您登錄不實資料或冒用他人名義以致於侵害他人之權利或違法時，應自負法律責任；您並同意您所提供之個人資料不實或個人資料有異動但沒有更新以致於與原登錄之資料不符時，本公司有權隨時終止您的會員資格及使用各項會員服務之權利。
        </li>
        <li>
            為避免使用者於本平台投注球賽或遊戲時產生爭議，各項規則於遊戲中心和球賽中心均有詳細說明，請務必詳細閱讀本服務所定之各項規則，會員一經開始使用本服務，即被視為已接受所有之規定。
        </li>
        <li>
            本服務條款如有增訂或修改，您同意自該修訂條款於本網站公告之時起受其拘束，本網站將不對會員個別通知。如您於公告後繼續使用本服務，則視為您已經同意該修訂條款。
        </li>

        <h2>隱私條款</h2>
        <li>
            我們在線上娛樂致力為客戶保護隱私並提供一個最安全的遊戲平臺，我們收到的所有信息都使用防駭加密技術傳輸，且不會出賣或租賃您的個人資料給第三方，並將個人資料均經過SSL128加密技術處理，並儲存在安全的、非公開的作業系統，對於有機會接觸客戶的個人資料的協助夥伴也必需遵守我們訂立的隱私保密規則。
        </li>

        <h2>責任博彩</h2>
        <li>
            平台遊戲是全心全意致力於高水平的誠信，守信的，正因為如此，完全致力於與世界上更嚴格的規範要求。為此，站內使用相當複雜的演算法機制，讓程式去隨機抽球(6+1)顆球，並且嚴防被破解及預測的風險，使每位玩家都可以玩得放心又盡興。
        </li>
        <li>
            建議將平台博彩當做一種娛樂休閒項目，才可以避免連續的損失，並且對博彩有自己的認識，合理安排自己在博彩中的時間和精力，這樣才可以玩的盡興。
        </li>
        <li>
            平台遊戲規則不允許任何未滿18歲的人士向我們投注或領獎。如果您未滿18歲，請馬上退出網站。
        </li>

        <h2>免責聲明</h2>
        <li>
            享用平台提供的服務是會員本人的意願，其風險應由會員本人承擔。參與我們服務的同時就說明會員認同i88所提供的服務是正常、合理、公正、公平的。
        </li>
        <li>
            部份地區或國家法律尚未明定線上博彩的合法性問題，甚至某些地區或國家已明確規範線上博彩為非法行為。我們無意邀請任何人在這些地區或國家非法使用本服務平台。使用者必需確定在您所居住的地區或國家使用線上博彩是否合法，並負完全的責任，使用本服務之會員請遵守使用者當地法令之許可，如有違反之情事恕非本公司之負責範圍。
        </li>
    </div>
</div>