  .header {
    background-color: #007D83;
  }
  
  .icon {
    left: 10px;
    font-size: 40px;
    z-index: 1;
  }
  
  .topBar {
    margin: 5px 10px;
    span {
      margin: 0 10px;
      width: 200px;
    }
  }

  button {
    margin: 0 5px;
  }

  .input {
    margin: 0 5px;
    border-radius: 6px;
    border: 0 none;
    background-color: #095556;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
  }

  input::-webkit-input-placeholder {
    color: #adadad;
    }
     
  
  .topMenu {
    display: flex;
    margin: auto;
    span {
      margin: 10px;
    }
  }

  .topMenu__item {
    margin: 10px;
    cursor: pointer;
    &:hover{
      border-bottom: 2px solid;
      padding: 5px;
      border-bottom-color: #adadad;
    }    
    &.active{
      border-bottom: 2px solid;
      padding: 5px;
      border-bottom-color: #007D83;
    }
  }
  
  .topMenuRow {
    height: 75px;
  }