<div class="aboutRow row justify-content-center">
  <div class="col-md-8">
    <h2>關於TY娛樂城</h2>
    <li>我們是TY娛樂城</li>
    <li>
      TY娛樂城是由一群愛好博弈娛樂所組成的團隊，致力於將刺激的娛樂分享給大家，因此我們想做一些不一樣的創新小遊戲供大家娛樂，我們會慢慢的上架新商產品請大家拭目以待!
      而我們也重視客戶需求、不斷地提出創新構想，讓TY成為愛用者的最佳休閒娛樂的博弈平台。我們知道使用者希望體驗新奇有趣的產品，也知道合作商希望擁有方便高效率的經營平台的服務。透過TY的經營團隊提供創新穩定又安全的平台讓合作夥伴與使用者感受最佳服務與互動，讓使用者有最好最刺激得娛樂體驗。
      TY娛樂城期望能與各產品廠商系統合作，以其共生共榮共同成長，歡迎經營商與各合作商直接透過TY LINE客服，取得經營權或是洽談其他上架合作。
    </li>
    <li>
        我們採用了目前最好的加密技術和防火牆系統保護你的安全、私隱，並保證你享受公平的遊戲。由於採用了企業級別的加密科技(1024位RSA金鑰交換和 448位blowfish)，可以為你的資料提供比一般的商業級別的SSL更高的保護。這一科技目前被世界上主要的金融機構所採用。
    </li>
  </div>
</div>
